@import "tailwindcss";

@theme {
    --color-primary: #0d6efd;
    --color-primary-dark: #0b5ed7;
    --color-secondary: #eff2f4;
    --color-ui-dark: #1c1c1c;
    --color-ui-gray: #8b96a5;
    --color-ui-light: #dee2e7;
    --font-sans: "Inter", system-ui, sans-serif;

    --radius-sm: 1rem;
    --radius-md: 1rem;
    --radius-lg: 1rem;
    --radius-xl: 1rem;
    --radius-2xl: 1rem;
}

body {
    background-color: #f7fafc;
    color: var(--color-ui-dark);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
